.nextEventsList{
    width: 95%;
    margin: 10px auto;
}

.nextEventsList .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    text-align: center;
    margin-bottom: 10px;
    background-color:#fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #bbb, -5px -5px 8px #f8f8f8;
}
.nextEventsList p{
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#454545;
}

@media screen and (min-width: 700px){
    .nextEventsList .container{
        padding: 0;
    }
}