.FormInput {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  background: #d7d7d7;
  box-shadow: inset 5px 5px 14px #c2c2c2, inset -5px -5px 14px #ededed;
  padding: 5px;
  color: #666;
  font-size: 18px;
}

.cgu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.checkbox {
  margin-right: 10px;
  transform: scale(1.5);
}

.form-control {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.form-control--invalid {
  color: red;
}

.formFlex {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
