.News{
    background-Color: #F0FAFF;
}

.News .NewsHeader{
    background-color: #6DBBAD;
}

.News .NewsTitle{
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    margin:0;
    text-align: center;
}