.MoovCardFlex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}
.MoovCards {
  border: 1px solid #6dbbad;
  border-radius: 2%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #eee;
}

.MoovCards .CardBody {
  min-height: 124px;
}
