.Home{
    padding-top: 10%;
}

.Home::after{
    content: "";
    background-image: url('/images/home-bg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.H1Small{
    text-align: center;
    margin-bottom: 20;
    font-size: 28px;
    font-weight: bold;
}
.H1Strong{
    font-size: 43px;
    font-weight: bold;
    color:#77eebe;
}
H4{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}
.greens{
    background-color:#6dbbad;
    color: #fff;
    display: flex;
    justify-content : space-evenly;
    flex-direction: column;
    align-items: center;
}
.default{ 
    color: #f6f6f6;
    text-decoration: none;
    margin-right: 8;
    margin-left: 8
}
.activeStyle{
color: #00e689;
}

.bottom{
    background-image: url('/images/together.jpg');
    background-position: center center;
    background-size: cover;
}

.Home input{
    background-color: #FFF;
    min-width: 250px;
    width: 30%;
    background-color: rgba(0,0,0,0.3);
    border: none;
    border-bottom : 1px solid #777;
    color: #FFF;
    margin: 0 10px 10px
}

.Home ::placeholder{
    color: #fff
}