.SharedForm{
    background-Color: #d7d7d7;
    min-height:88vh;
}

.SharedForm .SharedFormHeader{
    background-color: #6DBBAD;
}

.SharedForm .SharedFormTitle{
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
    text-align: center;
    padding: 5px;
}

.passerror{
    border: 2px solid red;
}