.Moovs{
    background-Color: #F0FAFF;
}

.Moovs .MoovsHeader{
    background-color: #6DBBAD;
}

.Moovs .MoovsTitle{
    color: #fff;
    font-size: 70px;
    font-weight: bolder;
}

.Moovs .MoovList{
    height: 100vh;
}