.Moovs{
    background-Color: #F0FAFF;
}

.Moovs .MoovsHeader{
    background-color: #6DBBAD;
    margin-bottom: 20px;
}

.Moovs .MoovsTitle{
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    margin:0;
    text-align: center;
}

.Moovs .MoovList{
    height: 100vh;
}