
#root {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-around;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
}
.burger {
  cursor: pointer;
}

.burger div {
  background-color: #fff;
  width: 30px;
  height: 3px;
  margin: 5px;
}

.burger div:first-child {
  border-radius: 2px 2px 0 0;
}

.burger div:nth-child(3) {
  border-radius: 0 0 2px 2px;
}

.nav-links, .admin-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 10000;
  right: 0px;
  top: 8vh;
  height: 92vh;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
}

.nav-active {
  transform: translateX(0%);
}

.admin-active {
  transform: translateX(0%);
}

.initials {
  columns: #333333;
  font-size: 1.5em;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  background-color: #00e689;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  cursor: pointer;
}
a.logout{
    color:#fff
}
a.logout:hover,
a.logout:active,
a.logout.active{
    color: #00E689 !important;
}

@media only screen and (min-width: 768px) {
  .burger {
    display: none;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: translateX(0);
    position: relative;
    background-color: transparent;
    right: none;
    height: 8vh;
    top: 0;
  }

  .admin-links{
      justify-content: start;
  }
}
